.navBar {
  background-color: black;

  padding: 10px;
}

.navBar a {
  text-decoration: none;
  color: #f6f6f6;
}

.navBar a:hover {
  background-color: #e83acb;
  color: #f6f6f6;
  padding: 12px 16px;
}

/* Nav bar Explore button drop down menu */
.dropdownBtn {
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffec60;
  color: #e83acb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #e83acb;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e83acb;
  color: #f6f6f6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdownBtn {
  background-color: #e83acb;
  color: white;
}
